{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}




{% block body %}
  {{ alumni.0.user.username}}
  {% comment %} <img src="/media/{{ alumni.0.profile }}" alt="nai thayu" > {% endcomment %}
  {{ alumni.0.course }}
  {{ alumni.0.passyear }}
  {{ alumni.0.gpa }}


  <br>
  <br>
  <br>
  <br>
  <br>

  <h1>exp details</h1>

  {% comment %} {{alumni.exp.year}} {% endcomment %}
  {% comment %} {% for e in exp %}
    {{e.0.year}}
  {% endfor %} {% endcomment %}
  {% comment %} {{ alumni.0. }} {% endcomment %}

{% endblock body %}