{% extends 'base.html' %}
{% load static %}
{% block title %} AlumHub {% endblock title %}
{% block body %}

<!-- slider section -->
    <section class="slider_section "style="background-image: url('{% static 'images/back1.png' %}');opacity: 0.6;height:600px;">
      <div class="container " style="display: flex;align-items: center;justify-content: center;">
        <div class="row" style="height: 300px;width: 700px;">
          <!-- <div class="col-md-6 ">
            <div class="detail-box"> -->
              <center><h1 style="color: white;">
                Where Memories Meet Momentum
              </h1>
              <h4 style="color: white;">Transforming Connections into Opportunities</h4>
              <p style="color: white;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui harum voluptatem adipisci. Quos molestiae saepe dicta nobis pariatur, tempora iusto, ad possimus soluta hic praesentium mollitia consequatur beatae, aspernatur culpa.
              </p>
              <a href="" class="con" style=" display: inline-block;
              font-family: 'Merriweather Sans', sans-serif;
              text-transform: uppercase;
              padding: 10px 45px;
              background-color: #6C4E31;
              border: 1px solid #6C4E31;
              border-radius: 5px;
              color: #ffffff;
              margin-top: 15px;">
                Contact Us
              </a>
              </center>
            <!-- </div>
          </div> -->
          <!-- <div class="col-md-6">
            <div class="img-box">
              <img src="images/main.png" alt="">
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- end slider section -->


  <!-- feature section -->
  <section class="feature_section">
    <div class="container">
      <div class="feature_container">
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/pngwing.com.png' %}" alt="" />
          </div>
          <h5 class="name">Seminar</h5>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/new-year_11944173.png' %}" alt="" />
         
          </div>
          <h5 class="name">Events</h5>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/recruitment_12343282.png' %}" alt="">
          
          </div>
          <h5 class="name">Vacancy</h5>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/donate_9684301.png' %}" alt="" />
          </div>
          <h5 class="name">Donation</h5>
        </div>
    </div>
  </section>
  <!-- end feature section -->

  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="detail-box">
            <h2>
              About us
            </h2>
            <p>
              Welcome to AlumHub, where we bring together alumni and current students to create a vibrant community of learning, growth, and support. Our mission is to bridge the gap between past and present, fostering meaningful connections that benefit everyone involved.<br>we envision a world where alumni and students are seamlessly connected, leveraging each other's experiences and expertise to achieve personal and professional success. We believe that strong networks are built on shared knowledge, collaboration, and mutual support.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->


  <!-- professional section -->

  <section class="professional_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/professional-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="detail-box">
            <h2>
              We Provide Professional <br>
              Home Services.
            </h2>
            <p>
              randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All randomised words which don't look even slightly
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end professional section -->

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2> Our Services </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s1.png' %}" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Maintenance
              </h5>
              <p>
                when looking at its layout. The point of using Lorem Ipsum is
                that it has a more-or-less normal
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s2.png' %}" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Electrical
              </h5>
              <p>
                when looking at its layout. The point of using Lorem Ipsum is
                that it has a more-or-less normal
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s3.png' %}" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Plumbing
              </h5>
              <p>
                when looking at its layout. The point of using Lorem Ipsum is
                that it has a more-or-less normal
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          View More
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- client section -->

  <!-- <section class="client_section ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          What Our Clients Say
        </h2>
      </div>
      <div class="story">
      <input class="form-control" type="text" placeholder="Add Your Success Story..." aria-label="readonly input example">
      <button class="btn btn-primary" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
          <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
        </svg>
      </button>
      </div>
      <div class="carousel-wrap layout_padding2-top ">
        <div class="owl-carousel">
          <div class="item">
            <div class="box">
              <div class="client_id">
                <div class="img-box">
                  <img src="{% static 'images/client-1.jpg' %}" alt="">
                </div>
                <div class="client_detail">
                  <div class="client_info">
                    <h6>
                      Jorch morik
                    </h6>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
              </div>
              <div class="client_text">
                <p>
                  chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="client_id">
                <div class="img-box">
                  <img src="{% static 'images/client-2.jpg' %}" alt="">
                </div>
                <div class="client_detail">
                  <div class="client_info">
                    <h6>
                      Jorch morik
                    </h6>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
              </div>
              <div class="client_text">
                <p>
                  chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="client_id">
                <div class="img-box">
                  <img src="{% static 'images/client-1.jpg' %}" alt="">
                </div>
                <div class="client_detail">
                  <div class="client_info">
                    <h6>
                      Jorch morik
                    </h6>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
              </div>
              <div class="client_text">
                <p>
                  chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="client_id">
                <div class="img-box">
                  <img src="{% static 'images/client-2.jpg' %}" alt="">
                </div>
                <div class="client_detail">
                  <div class="client_info">
                    <h6>
                      Jorch morik
                    </h6>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
              </div>
              <div class="client_text">
                <p>
                  chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end client section -->

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form action="">
            <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="text" placeholder="Phone Number" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="d-flex ">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <div id="googleMap" style="width:100%;height:100%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->


{% endblock body %}%}