{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container">

  
  <form method="post" action='/MainApp/login'> 
    {% csrf_token %}
    <div class="mb-3">
      <label for="uname" class="form-label">User Name:</label>
      <input type="text" class="form-control" id="loginusername" aria-describedby="emailHelp" name="loginusername">
    </div>
    <div class="mb-3">
      <label for="pass" class="form-label">Password</label>
    <input type="password" class="form-control" id="loginpassword" name="loginpassword">
  </div>
  



  <button type="submit" class="btn btn-primary mt-3">Submit</button>

</form>

</div>
{% endblock body %} 