{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
<div class="container2">
    <!-- Title moved above the form and centered -->
    <div class="title">Registration</div>
    <div class="container1">
        <form action="/register" method="post">
            {% csrf_token %}
            <div class="user-details1">
                <div class="input-box1">
                    <span class="details1">First Name</span>
                    <input type="text" placeholder="Enter your first name" id="fname" name="fname" required />
                </div>
                <div class="input-box1">
                    <span class="details1">Last Name</span>
                    <input type="text" placeholder="Enter your last name" id="lname" name="lname" required />
                </div>
                <div class="input-box1">
                    <span class="details1">Username</span>
                    <input type="text" placeholder="Enter your username" id="username" name="username" required />
                </div>
                <div class="input-box1">
                    <span class="details1">Email</span>
                    <input type="email" placeholder="Enter your email" id="email" name="email" required />
                </div>
                <div class="input-box1">
                    <span class="details1">Password</span>
                    <input type="password" placeholder="Enter Password" id="pass1" name="pass1" required />
                </div>
                <div class="input-box1">
                    <span class="details1">Confirm Password</span>
                    <input type="password" placeholder="Enter Confirm Password" id="pass2" name="pass2" required />
                </div>
            </div>

            <div class="gender-details1">
                <input type="radio" name="role" id="dot-1" value="student"/>
                <input type="radio" name="role" id="dot-2" value="alumni" />
                <span class="gender-title1">Are You?</span>
                <div class="category1">
                    <label for="dot-1">
                        <span class="dot one1"></span>
                        <span class="gender1">Student</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two1"></span>
                        <span class="gender1">Alumni</span>
                    </label>
                </div>
            </div>

            <div class="button1">
                <input type="submit" value="Register" />
              </div>
        </form>
    </div>
</div>
{% endblock body %}